<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="user/base::layout(~{::section})" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add-Contact</title>
</head>
<body>
<section class="signup">
    <div class="container  pt-3">
        <div class="row">
            <div class="col-md-8 offset-md-3">
                <div class="add-card">
                    <h2 class="text-center mb-2" >
                        <i class="fa-solid fa-check"></i>  Contact Added Successfully !
                    </h2>
                    <!--                        buttons-->
                        <div class="d-flex justify-content-between">
                            <button type="button" onclick="window.location.href='/user/dashboard'" class="btn btn-primary bg-primary">
                                Back to home
                            </button>
                            <div>
                                <button type="button" onclick="window.location.href='/user/add-contact'" class="btn btn-primary bg-primary"><i class="fa-solid fa-plus"></i>  Add More</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>