<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="user/base::layout(~{::section})" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Send-Email</title>
</head>
<body>
<section class="signup ">
    <div class="container  pt-3">
        <div class="row">
            <div class="col-md-8 offset-md-3">
                <div class="add-card">
                    <h2 class="text-center mb-2"> <i class="fa-solid fa-address-card"></i> Send Email</h2>
                     <p th:text="'Sending Email to  '+ ${email}"></p>
                    <form th:action="@{/user/send-email}" method="post" >

<!--                        email-->
                        <input type="hidden" name="email" th:value="${email}"/>
                        <input type="hidden" name="page" th:value="${page}"/>

                        <!-- Subject field -->
                        <div class="mb-1">
                            <label for="name" class="form-label text-center"></label>
                            <input name="subject" type="text" class="form-control" id="name" aria-describedby="emailHelp"
                                   th:value="${subject}"

                                   placeholder="Enter Subject"  />
                        </div>

                        <!-- Body field -->
                        <div class="mb-3">
                            <label for="body" class="form-label">Email Body</label>
                            <textarea name="body" class="form-control" id="body" rows="6"
                                      placeholder="Enter the body for email" required
                                      th:text="${body}"></textarea>
                        </div>


                        <!--                        buttons-->
                        <div class="d-flex justify-content-between">
                            <div>
                                <button type="button"
                                        th:onclick="'window.location.href=\'' + @{/user/show-contacts/{p}(p=${page})} + '\''"
                                        class="btn btn-primary bg-primary mr-3">
                                    Back
                                </button>
                                </div>
                            <div>
                                <button type="submit" class="btn btn-primary bg-primary"><i class="fa-solid fa-plus"></i>  Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>










</section>
</body>
</html>